name: Testing

on:
  push:

jobs:
  go-test:
    runs-on: ubuntu-22.04
    name: Go Test
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.x'
          check-latest: true
          cache-dependency-path: dbee/go.sum
      - name: Test
        run: go test ./...
        working-directory: dbee
